@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
</head>
<body>
    <h2>Password Hash Generator</h2>
    <p>Password: @ViewBag.Password</p>
    <p>Hash: @ViewBag.Hash</p>
    <p>Copy the hash above and use it in your SQL update</p>
</body>
</html>